<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lawlett.taskmanageruikit"
    android:screenOrientation="portrait">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".tasksPage.addTask.DoneActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"/>

        <receiver
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".timing.activity.TimerActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"/>

        <activity
            android:name=".timing.activity.StopwatchActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />

        <activity
            android:name=".utils.PassCodeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".calendarEvents.AddEventActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.workTask.WorkActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.privateTask.PrivateActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.meetTask.MeetActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.homeTask.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.personalTask.PersonalActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".idea.IdeaActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:noHistory="true"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".onboard.BoardActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
    </application>


</manifest>