<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lawlett.taskmanageruikit"
    android:screenOrientation="portrait">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:usesCleartextTraffic="true"
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name=".timing.activity.TimerActivity"></activity>
        <activity
            android:name=".timing.activity.StopwatchActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"></activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.doneTask.DoneTasksActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".utils.PassCodeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".calendarEvents.AddEventActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.workTask.WorkActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.privateTask.PrivateActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.meetTask.MeetActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.homeTask.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".tasksPage.personalTask.PersonalActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".quick.QuickActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegistrationActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity"></activity>
        <activity
            android:name=".onboard.BoardActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity" />
    </application>

</manifest>