<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lawlett.taskmanageruikit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tasksPage.doneTask.DoneTasksActivity"></activity>
        <activity android:name=".utils.PassCodeActivity" />
        <activity android:name=".calendarEvents.AddEventActivity" />
        <activity android:name=".tasksPage.workTask.WorkActivity" />
        <activity android:name=".tasksPage.privateTask.PrivateActivity" />
        <activity android:name=".tasksPage.meetTask.MeetActivity" />
        <activity android:name=".tasksPage.homeTask.HomeActivity" />
        <activity android:name=".tasksPage.personalTask.PersonalActivity" />
        <activity android:name=".map.MapBoxActivity" />
        <activity android:name=".quick.QuickActivity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration.RegistrationActivity" />
        <activity android:name=".onboard.BoardActivity" />
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>